@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./css/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(./css/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(./css/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Bold.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Black.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-BlackItalic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-BoldItalic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Italic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Light.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-LightItalic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Medium.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-MediumItalic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Regular.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-Thin.ttf) format('truetype'),
}
@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url(./css/fonts/Roboto-ThinItalic.ttf) format('truetype'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background:#28282D;
  font-family:'Roboto', sans-serif;
  color:#444;
  font-size: 16px;
  padding:0;
  margin:0;
}

#react-root {
    position: absolute;
    height: 100%;
    width: 100%;
}
.messages {

  list-sytle: none;
  position: absolute;
left: 0;
right: 0;
bottom: 26px;
top: 0;
/*overflow-y: auto;*/
padding: 0;
margin: 0;
}
.messages ul {
    padding: 0;
    list-style: none;
    margin:0 8px;
    display: none;
}
.messages ul.active {
    display:block;
}
.messages li > time {
  color:#aaa;
  font-size: 16px;
  float:left;
  display:block;
}
.messages li {
  padding: 3px 0;
  display:block;
}
.messages li > span {
  display:table-cell;
  padding-left: 15px;
}
.messages li > span > span:nth-child(1) {
  font-weight:bold;
  margin:0 8px 0px 0px;
  float:left;
  display:block;
}

.messages li > span > span:nth-child(2) {
 color:#B1B1B1;
 display:inline;
 white-space:pre-wrap;
}

.messages li > span > span:nth-child(2) a {
  color: #428bca;
  text-decoration: none;
}
.messages li > span > span:nth-child(2) a:hover {
  color: #428bca;
  text-decoration: underline;
}

.messages li.self > span > span:nth-child(1) {
  color:#1D9CE8;
}

.messages li.self {
  background: #C1E8FF;
}


.top-btns i {

    font-weight: 400;
    margin: 0 5px;
    right: 0;
    position: relative;
    float: right;
-webkit-app-region: no-drag;
    cursor: pointer;
    line-height: 25px;
    height: 25px;
}

.top-btns {
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    z-index: 2;
    background: #5B5B5B;
}
.left_side {
    float: left;
    width: 150px;

    display: inline-block;
    background: #555656;
    border-right: 1px solid #292929;
    vertical-align: top;
    position: absolute;
    z-index: 1;
    bottom: 0;
top: 25px;
}
.MainArea {
    vertical-align: top;
    width: auto;
    background: #28282D;

    max-width: 100%;
    display: inline-block;
    position: absolute;
    left: 150px;
    right: 150px;
    bottom: 0;
top: 25px;
}
.right_side {
    width: 150px;
    float: right;

    display: inline-block;
    position: absolute;
    background: #555656;
    border-left: 1px solid #292929;
    vertical-align: top;
    right: 0;
    z-index: 1;
    bottom: 0;
top: 25px;
}

.MainArea .msg-input {
    position: absolute;
    height: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #616161;
    background: #464646;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.MainArea .msg-input span:nth-child(2) {
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.MainArea .msg-input span {
    display: flex;
    position: relative;
}

.MainArea .msg-input span:nth-child(1) {
    color: #ADADAD;
    float: left;
    height: 25px;
    line-height: 25px;
    font-weight: 500;
    border-right: 1px solid #616161;
    padding: 0 5px;
    background: #4A4A4A;
    max-width: 150px;
}
.MainArea input[type="text"] {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    margin: 0 -5px;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    background: transparent;
    color: #B5B5B5;
    outline: none;
}
ul {
    margin: 0;
    padding:0;
    list-style: none;
}
li.user_list {
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}
.user_list span.user_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 8px;
    border: 1px solid #9E9E9E;
}

li.room_list.server {
    background: #3E3E3E;
    font-weight: 500;
    padding-left: 10px;
}
.room_list {
    padding: 3px 10px;
    padding-left: 25px;
    color: #CCCCCC;
    border-bottom: 1px solid #424242;
    cursor: pointer;
}
li.room_list.active {
    background: #4685DB;
    color: #F3F3F3;
}

.topic {
    display: inline-block;
    background: #5B5B5B;
    position: absolute;
    color: #E6E6E6;
    height: 25px;
    right: 145px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topic span:nth-child(1) {
    font-weight: 500;
}
.topic span {
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
}
.topic span:nth-child(2) {
    font-weight: 300;
    color: #CECECE;
}
.trigger {
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: ew-resize;
}
.trigger:hover {
    background: rgba(0,0,0,0.26);
}
